html,
body {
	margin: 0;
	padding: 0;
}

body{
    margin:auto;
    text-align: center;
}
.todoapp {
	margin: auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
h1{
    color: rgb(232, 60, 60);
    font-size: 100px;
    margin-bottom: 20px;
}
.new-todo{
    padding: 16px 16px 16px 60px;
}
.footer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(232, 60, 60) ;
    border-radius: 12px;
    padding: 10px 10px 10px 20px;
}
.filters{
    display: flex;
    list-style: none;
    gap: 15px;
    
}

li{
    list-style: none;
    justify-content: space-between;
}
.hide{
    display: none;
}
.show{
    display: inline-flex;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;

}

.todo-list.completed li:not(.completed) {
    display: none;
    
}

.todo-list.active li.completed {
    display: none;
}
.invisible{
    visibility: hidden;
}